/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

$font-family:  'Noto Sans Gothic', sans-serif;

body {
  font-family: $font-family;
  size: 16px;
  font-weight: 400;
}